<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/general-head'); -%>
    <body>
        <!-- Header/Navbar -->
        <%- include('layouts/general-header', { 'selectedItem': 'g' } ); -%>

        <!-- G Test Section -->
        <section id="g-dashboard" class="g-test-form-container dashboard">
            <div class="form-wrapper" id="g-form-wrapper">
                <h2>G Test Information</h2>

                <!-- <br> -->
                <% if (error != null) { %>
                <span id="g-error" class="error"><%= error %></span>
                <br />
                <a href="/g2-test">Register Here</a>
                <br /><br />
                <% } %>
                <span id="validationError" class="error"></span>
                <% if (user != null && !error) { %> <%- include('g-test-user-info', { user
                } ); -%> <% } %>
            </div>
        </section>

        <!-- Scripts -->
        <%- include('layouts/general-script'); -%>
        <script src="/js/g-test.js"></script>
        <script>
            window.userData = <%- JSON.stringify(user) %>;
        </script>
    </body>
</html>
