<!-- Form on the right -->
<div class="search-form-wrapper">
    <!-- Personal Information Section -->
    <div class="user-info">
        <h2 id="fullName" name="fullName">
            <%= user.lastName %>,<%= user.firstName %>
        </h2>
    </div>

    <div class="user-info">
        <p><%= user.age %> Years</p>
        <p>&nbsp;&nbsp;|&nbsp;&nbsp;</p>
        <p>License: <%= user.licenseNumber.substring(0,20) + "..." %></p>
    </div>
    <br />
    <hr />
    <br />
    <br />
    <form id="edit-user-form" action="#" method="POST">
        <h2>Car Information</h2>
        <!-- Car Information Section -->
        <div class="form-section">
            <label for="make">Make</label>
            <input
                type="text"
                id="make"
                name="make"
                class="disabledInput"
                required
                placeholder="eg. Toyota"
                disabled
                value="<%= user.carDetails.make %>"
            />
        </div>

        <div class="form-section">
            <label for="model">Model</label>
            <input
                type="text"
                id="model"
                name="model"
                class="disabledInput"
                required
                placeholder="eg. Corolla"
                disabled
                value="<%= user.carDetails.model %>"
            />
        </div>

        <div class="form-section">
            <label for="year">Year</label>
            <input
                type="number"
                id="year"
                name="year"
                class="disabledInput"
                required
                placeholder="eg. 2020"
                maxlength="4"
                disabled
                value="<%= user.carDetails.year %>"
            />
        </div>

        <div class="form-section">
            <label for="plateNumber">Plate Number</label>
            <input
                type="text"
                id="plateNumber"
                name="plateNumber"
                maxlength="7"
                class="disabledInput"
                required
                placeholder="AXXX001"
                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                disabled
                value="<%= user.carDetails.plateNumber %>"
            />
        </div>
        <span class="error" id="carInfoError"></span>

        <div id="appointment-content-view">
            <h2>Book an Appointment</h2>
            <%- include('layouts/cal'); -%>

            <div id="selected-date-appointment-content">
                <p>Available Slots on</p>
                <h2 id="selected-date">November 19, 2024</h2>
                
                <div id="slots-container">

                </div>
                <button id="create-slots-btn" class="fullWidthGenericButton" style="display: none;">Create Slots</button>
            </div>
            <div id="selected-date-no-content">
                <p>No Slots available for this date</p>
            </div>
            <input type="text" id="testType" name="testType" value="G" style="display: none;">
            <input type="text" id="appointmentId" name="appointmentId" style="display: none;">
        </div>

        <div id="test-status-view" style="display: <%= (user.testType == 'G' && user.testStatus !== 'decision pending') ? 'block' : 'none' %>;">
            <% if (user.testStatus === 'pass') { %>
                <p>You have <strong>passed</strong> the G exam. Congratulations!</p>
            <% } else if (user.testStatus === 'fail') { %>
                <p>You have <strong>failed</strong> the G exam. Please try again.</p>
            <% } %>
        </div>

        <div id="booked-appointment-details-view">
            <p>Appointment Scheduled</p>
            <h3 id="booked-appointment-date-time"></h3>
        </div>
        <br />
        <button type="submit" id="updateCarInfoButton">
            Save
        </button>
    </form>
    <div id="userData" data-user='<%- JSON.stringify(user) %>'></div>
</div>
