<!-- Form on the right -->
<div class="search-form-wrapper">
    <!-- Personal Information Section -->
    <div class="user-info">
        <h2 id="fullName" name="fullName">
            <%= user.lastName %>,<%= user.firstName %>
        </h2>
    </div>

    <div class="user-info">
        <p><%= user.age %> Years</p>
        <p>&nbsp;&nbsp;|&nbsp;&nbsp;</p>
        <p>License: <%= user.licenseNumber.substring(0,20) + "..." %></p>
    </div>
    <br />
    <hr />
    <br />
    <br />
    <form id="edit-user-form" action="#" method="POST">
        <h2>Car Information</h2>
        <!-- Car Information Section -->
        <div class="form-section">
            <label for="make">Make</label>
            <input
                type="text"
                id="make"
                name="make"
                class="disabledInput"
                required
                placeholder="eg. Toyota"
                disabled
                value="<%= user.carDetails.make %>"
            />
        </div>

        <div class="form-section">
            <label for="model">Model</label>
            <input
                type="text"
                id="model"
                name="model"
                class="disabledInput"
                required
                placeholder="eg. Corolla"
                disabled
                value="<%= user.carDetails.model %>"
            />
        </div>

        <div class="form-section">
            <label for="year">Year</label>
            <input
                type="number"
                id="year"
                name="year"
                class="disabledInput"
                required
                placeholder="eg. 2020"
                maxlength="4"
                disabled
                value="<%= user.carDetails.year %>"
            />
        </div>

        <div class="form-section">
            <label for="plateNumber">Plate Number</label>
            <input
                type="text"
                id="plateNumber"
                name="plateNumber"
                maxlength="7"
                class="disabledInput"
                required
                placeholder="AXXX001"
                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                disabled
                value="<%= user.carDetails.plateNumber %>"
            />
        </div>
        <span class="error" id="carInfoError"></span>
        <br />
        <button type="submit" id="updateCarInfoButton">
            Update Car Information
        </button>
    </form>
    <div id="userData" data-user='<%- JSON.stringify(user) %>'></div>
</div>
